<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.deepblue.twilight.mapper.FeelingMapper">
  <resultMap id="BaseResultMap" type="club.deepblue.twilight.pojo.Feeling">
    <id column="f_id" jdbcType="INTEGER" property="f_id" />
    <result column="u_id" jdbcType="INTEGER" property="u_id" />
    <result column="is_f_id" jdbcType="INTEGER" property="is_f_id" />
    <result column="f_time" jdbcType="TIMESTAMP" property="f_time" />
  </resultMap>
  <sql id="Base_Column_List">
    f_id, u_id, is_f_id, f_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from feeling
    where f_id = #{f_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from feeling
    where f_id = #{f_id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="club.deepblue.twilight.pojo.Feeling">
    <selectKey keyProperty="f_id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into feeling (u_id, is_f_id, f_time
      )
    values (#{u_id,jdbcType=INTEGER}, #{is_f_id,jdbcType=INTEGER}, #{f_time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="club.deepblue.twilight.pojo.Feeling">
    <selectKey keyProperty="f_id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into feeling
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="u_id != null">
        u_id,
      </if>
      <if test="is_f_id != null">
        is_f_id,
      </if>
      <if test="f_time != null">
        f_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="u_id != null">
        #{u_id,jdbcType=INTEGER},
      </if>
      <if test="is_f_id != null">
        #{is_f_id,jdbcType=INTEGER},
      </if>
      <if test="f_time != null">
        #{f_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="club.deepblue.twilight.pojo.Feeling">
    update feeling
    <set>
      <if test="u_id != null">
        u_id = #{u_id,jdbcType=INTEGER},
      </if>
      <if test="is_f_id != null">
        is_f_id = #{is_f_id,jdbcType=INTEGER},
      </if>
      <if test="f_time != null">
        f_time = #{f_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where f_id = #{f_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="club.deepblue.twilight.pojo.Feeling">
    update feeling
    set u_id = #{u_id,jdbcType=INTEGER},
      is_f_id = #{is_f_id,jdbcType=INTEGER},
      f_time = #{f_time,jdbcType=TIMESTAMP}
    where f_id = #{f_id,jdbcType=INTEGER}
  </update>
  <delete id="deleteByObject" parameterType="club.deepblue.twilight.pojo.Feeling">
    delete from feeling
    where u_id = #{u_id,jdbcType=INTEGER} and is_f_id=#{is_f_id,jdbcType=INTEGER}
  </delete>
  <select id="selectByObject" parameterType="club.deepblue.twilight.pojo.Feeling" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from feeling
    where u_id = #{u_id,jdbcType=INTEGER} and is_f_id=#{is_f_id,jdbcType=INTEGER}
  </select>
</mapper>
